@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss";
@plugin "daisyui"; */

.active{
    color:#facc15;
}
.oswald{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .lightgreen{
    color:#facc15;
  }

  /* global.css বা index.css এ */
html {
  scroll-behavior: smooth;
}
